<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRESIaIWiv7Lr97ShveH4_zVvzPOabQPW7B5w&usqp=CAU" alt="" width="70" height="58" class="d-inline-block align-text-center">
        Consesionaria Juanita
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/modelos" routerLinkActive="active">Modelos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/cotizacion" routerLinkActive="active">Cotizacion</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicio Post Compra
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="">Seguros</a></li>
              <li><a class="dropdown-item" routerLink="">Accesorios</a></li>
              <li><a class="dropdown-item" routerLink="">Repuestos</a></li>
              <li><a class="dropdown-item" routerLink="">Mantemiento</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/postventa">¿Necesita algo?</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">Iniciar Sesion</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Registrate</a>
          </li> -->
          <a class="navbar-brand" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-uaK5MQMEY1_ds2IHnWNvKen6q96rbt2rgQ&usqp=CAU" width="60" alt="">
          </a>
          <a class="navbar-brand" >
            <img src="https://yt3.ggpht.com/ytc/AKedOLQxW54IhTwy9xJtpoF_7RLwNnkuKIDL1iBdriPf8g=s900-c-k-c0x00ffffff-no-rj" width="60" alt="">
          </a>
          <button class="btn btn-dark" aria-current="page" routerLink="/login">Iniciar Sesion</button>
          <button class="btn btn-dark" aria-current="page" routerLink="/login">Registrarse</button>
        </form>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>